[submodule "modules/erc20"]
	path = modules/erc20
	url = https://github.com/maple-labs/erc20
[submodule "modules/erc20-helper"]
	path = modules/erc20-helper
	url = https://github.com/maple-labs/erc20-helper
[submodule "modules/contract-test-utils"]
	path = modules/contract-test-utils
	url = https://github.com/maple-labs/contract-test-utils
[submodule "modules/forge-std"]
	path = modules/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "modules/erc4626-tests"]
	path = modules/erc4626-tests
	url = git@github.com:a16z/erc4626-tests.git
